Source: storagetapper
Priority: optional
Maintainer: Evgeniy Firsov <firsov@uber.com>
Uploaders: Evgeniy Firsov <firsov@uber.com>,
Build-Depends: git, debhelper (>= 9), dh-systemd
Standards-Version: 3.9.8
Section: utils
Homepage: https://github.com/uber/storagetapper

Package: storagetapper-server
Architecture: any
Section: utils
Depends: ${misc:Depends}
Description: StorageTapper is a realtime change data capture and transformation
 service. This package contains server components.

Package: storagetapper-client
Architecture: any
Section: utils
Depends: ${misc:Depends}
Description: StorageTapper is a realtime change data capture and transformation
 service. This package contains client components.


